
<div class="container" style="padding-left: 100px;background-color: rgb(235, 235, 235)" style="margin-bottom: 70px;">
    <div style="margin-bottom: 70px;" class=" d-flex ">
        <div class="row">
            <div class="p-4">
                Email <input type="text" id="email"/>
            </div>
            <div class="p-4">
                Text <input type="text" id="textToSend"/>
            </div>
            <div class="p-4">
                nombre <input type="text" id="name"/>
            </div>
            <div class="p-4">
                apellido <input type="text" id="lastName"/>
            </div>
            <div class="p-4">
                edad <input type="text" id="age"/>
            </div>
            <div class="p-4">
                alias <input type="text" id="alias"/>
            </div>
            <div class="p-4">
                avatar <input type="text" id="avatar"/>
            </div>
        </div>
        <br/>
        <div class="p-4">
            <button  id="buttonAddUser">enviar</button>
        </div>  
    </div>
    <div class="row" style="margin-bottom: 70px;">
        <div class=" col-12"id="messages"></div>
    </div>
</div>