<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#" />

</head>

<body>
    <h1 style="text-align:center; margin-top: 50px;"> Ingrese Sesion</h1>
    <form style="text-align:center; margin-top: 50px;" action="/session" method="post">
        <input type="name" name="name" placeholder="Ingresa tu Nombre">
        <input type="password" name="password" placeholder="Ingresa tu password">
        <button type="submit">Ingresar</button>
    </form>

    <h2 style="text-align:center; margin-top: 50px;">Eres nuevo? Registrate</h2>
    <div style="text-align:center; margin-top: 50px;">
        <button onclick="location.href='/registro'">Registrate</button>
    </div>
</body>

</html>