

<div>
    <h1 style="text-align:center; margin-top: 50px;">Add a product to the list</h1>

    <form action="/productos" enctype="multipart/form-data"  method="POST" style="  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 200px;margin: 50px 400px;background: #F9F9F9;padding: 25px;
">
        <fieldset style="margin: 20px;
        padding: 0;
      ">
            Nombre: <input id="nombreProducto"style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" name="title" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Precio:<input id="nombrePrecio" style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" name="price" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Description:<input id="nombreDescripcion" name="description" style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Stock:<input id="nombreStock" name="stock" style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Codigo:<input id="nombreCodigo" name="code" style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Thumbnail:<input id="nombreFoto" name="thumbnail" style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="file" required>
        </fieldset>
        <button id = "buttonAddProd" type="submit">Add</button>
    </form>
<div>