<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>cookies</h1>
    <form action="/info" method="post">
        <input type="text" name="nombre" placeholder="Ingresa tu nombre">
        <input type="text" name="apellido" placeholder="Ingresa tu apellido">
        <input type="number" name="edad" placeholder="Ingresa tu edad">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>