<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="#" />

  </head>
  <body>
    <div style="text-align: center;margin-top:130px">
        <h1>REGISTRO</h1>
        <form action="/registro" method="post">
          <div class="row" style="padding: 15px">          
            <input type="text" name="nombre" placeholder="Ingresa tu usuario" />
          </div>
          <div class="row" style="padding: 15px"> 
            <input type="email" name="email" placeholder="Ingresa tu correo" />
          </div>

          <div class="row" style="padding: 15px"> 
            <input
                type="password"
                name="password"
                placeholder="Ingresa tu contrasena"
            />
          </div>
          <div class="row" style="padding: 15px"> 
            <input
                type="password"
                name="password"
                placeholder="Ingresa tu contrasena nuevamente"
            />
          </div>
          <div class="row" style="padding: 15px"> 
            <input type="tel" name="telefono" placeholder="Telefono">
          </div>
          <div class="row" style="padding: 15px"> 
            <input type="text" name="mensaje" placeholder="Escribe tu Mensaje">
          </div>
          
          <div class="row" style="padding: 15px"> 
              <button onclick="location.href = '/login'">Enviar</button>
          </div>
        </form>
    </div>
  </body>
</html>