
.counter-cont{
    display: flex;
    flex-direction: column;
}

.cont-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

.button-inc{
    padding-right: 10px;
}

.button-dec{
    padding-left: 10px;
}

.number-counter{
    padding-top: 10px;
}

.button-add{
    margin-bottom: 30px;
    margin-top: 20px;
}