

<div  >
    <h1 style="text-align:center">Add a product</h1>

    <form action="/productos" method="POST" style="  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-bottom: 200px;margin: 50px 400px;background: #F9F9F9;padding: 25px;
">
        <fieldset style="margin: 20px;
        padding: 0;
      ">
            Nombre: <input style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" name="title" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Precio:<input style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" name="price" required>
        </fieldset>
        <fieldset style="margin: 20px;;
        padding: 0;
        ">
            Thumbnail:<input style = "  width: 60%;
            border: 1px solid #ccc;
            background: #FFF;
            margin: 15px;
            padding: 10px;" type="text" name="thumbnail" required>
        </fieldset>
        <button type="submit">Add</button>
    </form>
<div>