<div style="margin: 50px 400px">
    <h1 style="text-align:center">Productos Guardados</h1>
      <% if (productos.length != 0) { %>
        <div ><% productos.forEach(product=> { %>
          <p class="title is-4"><%=product.title %></p>
          <p class="subtitle is-6">$ <%=product.price %></p> </div>
          <div style="width: 40%;" >
            <img style="width: 40%;" src="<%= product.thumbnail %>" alt="Placeholder image" />
          </div>
      <% }); %>
      <% } %>
      <% if (productos.length == 0) { %>
        <div style=" text-align: center">No products</div>
      <% } %>
    <form action="/" method="GET">       
       <button  style=" text-align: center" type="submit">Add Product</button>
    </form>
</div>