
<div class="container-fluid">
  <h1 style="text-align:center; padding: 50px;">Productos Guardados</h1>

  <div class="container">
    <% if (productos.length != 0) { %>
      <% productos.forEach(product=> { %>
        <div class="card" style="width: 250px; margin: 30px">
          <div class="card-image" style="padding: 15px">
            <figure class="image is-4by3">
              <img style="width: 40%" src="<%= product.thumbnail %>" alt="Placeholder image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%=product.title %></p>
                <p class="subtitle is-6">$<%=product.price %></p>
              </div>
            </div>
          </div>
        </div>
        <% }); %>

    <% } %>
    <% if (productos.length == 0) { %>
      <div style=" text-align: center">No products</div>
    <% } %>
  </div>

  <form action="/" method="GET">       
    <button  style=" text-align: center" type="submit">Add Product</button>
  </form>
</div>